.background {
    background-size: cover;
    height: 844px;
    width: 100%;

}

.background-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up-container {
    position: absolute;
    top: 20px;
    justify-self: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.score-cont {
    background: none;
    display: flex;
    position: relative;
    top: -140px;
    width: 150px;
    left: 10px;
}

.conts {
    justify-items: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    height: 90px;

}

.score {
    color: white;
    text-align: center;
    border-radius: 1rem;
    width: 110px;
    background-color: black;
    opacity: 50%;
    margin: 0;
    margin-left: 20px;;
}

.game {
    height: 370px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 20px;
    width: calc(100% - 20px);
    position: relative;
    top: -700px;
}


.get-code {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #0071E2;

    margin: 0;
}

.get-code-cont{
    position: relative;
    top: -45px;
    left: 20px;
}

.bottom-page-links {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -650px;
}

.bottom-cont-img {
    align-self: center;
}

.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
}

.link-button {
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    border-radius: 1.1rem;
    position: relative;
    height: 90px;
    width: 90px;
    padding: 0;
}

.link-button img {
    width: 90px;
    padding: 0;
    margin: 0;
}

.energy {
    position: relative;
    height: 40px;
    margin-left: 10px;
}

.energy-bar {
    width: 230px;
    height: 30px;
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding-left: 1rem;
    opacity: 80%;
}


.gem-count {
    background-color: #0071E2;
    width: 140px;
    height: 70px;
    position: relative;
    display: block;
    top: -670px;
    padding: 0.5rem;
    left: -32%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.gem-content {
    position: relative;
    top: -60px;
}

.bottom-up-bar{
    display: flex;
    position: relative;
    top: -165px;
}

.inner-blue {
    background: #61dafb;
    margin: 0;
    width: 100%;
    height: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.gem {
    height: 50px;
}

.frens {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    position: relative;
    top: -85px;
}

.ball {
    height: 20px;
    width: auto;
}

.rank {
    width: 50px;
    height: auto;
    position: relative;
    top: -60px;
    left: 100px;
}

.cont-images {
    height: 90px;
    width: 170px;
}